version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: edu
    volumes:
      - dbdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d edu"]
      interval: 3s
      timeout: 5s
      retries: 20

  migrator:
    build:
      context: .
      dockerfile: Dockerfile.migrator
    environment:
      DATABASE_URL: ${DATABASE_URL:-postgres://postgres:postgres@db:5432/edu?sslmode=disable}
    depends_on:
      db:
        condition: service_healthy
    restart: "no"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
    # ВАЖНО: НЕ монтируем .:/app — иначе сотрем бинарь из образа
    # volumes:
    #   - .:/app

volumes:
  dbdata:
